.list {
  background-color: rgb(71, 61, 216);
  color: rgb(7, 7, 7);
  margin: 0;

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.item {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
}

.item:last-child {
  margin-bottom: 0px;
}
